<!DOCTYPE html>
<html>
<head>
  <title>Calling Etsy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1 class="text-center">Etsy list</h1>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr class="row-margin">
      <th>url</th>
      <th>Description</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
          <tr>
            <td><%= @response['results'][0]['url'] %></td>
            <td><%= @response['results'][0]['description'] %></td>
	        <td><%= @response['results'][0]['price'] %>></td>
          </tr>
                    <tr>
            <td><%= @response['results'][1]['url'] %></td>
            <td><%= @response['results'][1]['description'] %></td>
	        <td><%= @response['results'][1]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][2]['url'] %></td>
            <td><%= @response['results'][2]['description'] %></td>
	        <td><%= @response['results'][2]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][3]['url'] %></td>
            <td><%= @response['results'][3]['description'] %></td>
	        <td><%= @response['results'][3]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][4]['url'] %></td>
            <td><%= @response['results'][4]['description'] %></td>
	        <td><%= @response['results'][4]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][5]['url'] %></td>
            <td><%= @response['results'][5]['description'] %></td>
	        <td><%= @response['results'][5]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][6]['url'] %></td>
            <td><%= @response['results'][6]['description'] %></td>
	        <td><%= @response['results'][6]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][7]['url'] %></td>
            <td><%= @response['results'][7]['description'] %></td>
	        <td><%= @response['results'][7]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][8]['url'] %></td>
            <td><%= @response['results'][8]['description'] %></td>
	        <td><%= @response['results'][8]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][9]['url'] %></td>
            <td><%= @response['results'][9]['description'] %></td>
	        <td><%= @response['results'][9]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][10]['url'] %></td>
            <td><%= @response['results'][10]['description'] %></td>
	        <td><%= @response['results'][10]['price'] %>></td>
          </tr>
                              <tr>
            <td><%= @response['results'][11]['url'] %></td>
            <td><%= @response['results'][11]['description'] %></td>
	        <td><%= @response['results'][11]['price'] %>></td>
          </tr>
  </tbody>
</table>
</body>
</html>